.background {
    display: flex;
    align-items: stretch;
    background-color: #301c41;
    margin: 0;
    padding: 0;
    height: 100vh
}

.roundedBorders {
    border-radius: 2vh;
    border-collapse: separate;
    border: solid black 0.3vh;
    border-radius: 2vh;
}

.textBox {

    background-color: lightgray;
    border: solid;
    border-width: 0.6vh;
    border-radius: 2vh;
    margin-right: 10%;
    margin-left: 10%;
    color: black;
    border-color: black;
    font-size: 2vw;
    padding: 2vh;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

