.background {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #9342f5;
  }

#JokerHolder {
    background-color: greenyellow;
    width: 20%;
}


#rewardHolder {
    background-color: red;
    width: 20%;

}

#questionAndAnswer {
    background-color: purple;
    width: 60%;
}

.answerButton {
    display: inline-block;
    height: 80%;
    width: 80%;
    border-radius: 2vh;
    border: solid;
    border-color: black;
    border-width: 0.3vh;
    font-size: 2.5vh;;
    white-space: normal;

}

#buttonContainer {

    background-color: greenyellow;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    height: 30vh;

    border-radius: 2vh;
    border-collapse: separate;
    border: solid black 0.3vh;
    border-radius: 2vh;


    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;

}


.heading {

    text-align: center;
    background-color: white;
    border-color: black;
    border: solid;
    border-width: 0.6vh;
    border-radius: 2vh;
    margin-right: 25%;
    margin-left: 25%;


}

.textBox {

    background-color: white;
    border: solid;
    border-width: 0.6vh;
    border-radius: 2vh;
    margin-right: 10%;
    margin-left: 10%;
    color: black;
    border-color: black;


}

#rewardTable {
    width: 100%;
    border-collapse: collapse; 
    padding: 5px;
    margin: 0;
    
}

/* https://www.w3schools.com/css/css_align.asp */
.rewardBox {
    background-color: white;
    border: solid;
    border-width: 0.6vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    padding: 0px;
    margin: 0;
    font-size: 2.5vh;;


    color: black;
    border-color: black;
}

.centered {
    display: grid;
    justify-items: center;
    align-items: center;

}

#playButton {
    color: black;
}

#questionContainer {
    background-color: white;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 3%;
    height: 50vh;

    border-radius: 2vh;
    border-collapse: separate;
    border: solid black 0.5vh;
    border-radius: 2vh;

    display: grid;
    justify-items: center;
    align-items: center;

    font-size: 4vh;
    padding-left: 5%;
    padding-right: 5%;
    line-break: loose;
    text-align:center
}





@media (max-width: 999px) {
    .background {
        background-color: #9342f5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #questionAndAnswer {
        width: 100%;
        order: 1;
    }
    #questionContainer {
       width: 80%;
       margin-right: 3%;
       margin-left: 3%;
       margin-top: 5%;
    }
    #buttonContainer {

        margin-right: 3%;
        margin-left: 3%;
        margin-top: 2%;
        
    }

    #JokerHolder {
        background-color: greenyellow;
        height: 20vh;
        width: 100%;
        order: 2;
    }

    #rewardHolder {
        background-color: blue;
        width: 100%;
        order: 3;
    }
    #rewardTable {
        width: 100vw;
        direction: rtl;
   
    }
}
