.background{
    position: relative;
}
#JokerHolder {
    background-color: #fcc931;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}

.joker {
    /* Grid-Hack to make the joker and cross overlap ;)*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #a5d8ff;
    border: solid black 2vh;
    border-radius: 30%;

    margin-right: 5%;
    margin-left: 5%;
    height: 20%;
    width: 80%;

}

.jokerSVG{
    width: 80%;
    height: 80%;
    grid-column: 1;
    grid-row: 1;
    place-self: center;





}
.jokerCross{
    width: 80%;
    height: 80%;
    grid-column: 1;
    grid-row: 1;
    position: absolute;
    left: 10%;





}

#fiftyfiftySVG{
    pointer-events: painted;

}
#telephone{
    cursor: pointer;
}

#telephoneSVG:hover{
    animation-name: shakePhone;
    animation-duration: 0.2s;
    animation-play-state: running;
    animation-iteration-count: 2;

}

@keyframes shakePhone {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}


#rewardHolder {
    display: flex;
    flex-direction: column;
    background-color: #4682b4;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#questionAndAnswer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: purple;
    width: 60%;
    height: 100%;
}

.answerButton {
    display: inline-block;
    height: 80%;
    width: 80%;
    font-size: 2.5vh;;
    white-space: normal;

}

.answerButton:hover {background-color: lightgray !important;}

.answerButton:active {

    box-shadow: 0 1vh grey;
    translate: 0vh 0.2vh ;
}


#buttonContainer {

    background-color: #87cb28;
    width: 60%;
    margin-top: 5%;
    height: 30vh;

    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 3%;

}

#rewardTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#rewardTable th {
    font-size: 4vh;
    padding-bottom: 5%;
    padding-top: 5%;
}

/* https://www.w3schools.com/css/css_align.asp */
.rewardBox {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    padding: 0px;
    margin: 0;
    font-size: 2.5vh;;


    color: black;
}

#timer{
    position: sticky;
    top: 0;
    margin-top: 2vh;
    width: 20%;
    text-align: center;
    font-size: 3vh;

}

#questionContainer {
    background-color: white;
    width: 60%;
    margin-top: 3%;
    height: 50vh;

    border: solid black 0.5vh;

    display: grid;
    justify-items: center;
    align-items: center;

    font-size: 4vh;
    padding-left: 5%;
    padding-right: 5%;
    line-break: loose;
    text-align:center
}

@media (max-width: 999px) {
    .background {
        background-color: #9342f5;
        display: flex;
        flex-direction: column;

    }
    #questionAndAnswer {
        width: 100%;
        order: 1;
        height: 100%;
    }
    #questionContainer {
       width: 80%;
       margin-right: 3%;
       margin-left: 3%;
       margin-top: 5%;
    }



    #buttonContainer {

        margin-right: 3%;
        margin-left: 3%;
        margin-top: 2%;

    }


    #JokerHolder {
        background-color: #87cb28;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        order: 2;

    }
    #jokerHeading{
        width: 100%;
        height:  10vh;
    }
    .joker {
        height: 20vh;
        width: 30%;
        margin-bottom: 5%;

    }

    #rewardHolder {
        background-color: #4682b4;
        width: 100%;
        order: 3;
    }
    #rewardTable {
        width: 100vw;
        height: 100%;
        direction: rtl;

    }
}